/* Footer Area css
============================================================================================ */

.footer_area {
    @include gradient2(to right,  #070200  0%, #070200   51%, #070200   100%);
    .f_widget {
        .f_title {
            margin-bottom: 40px;
            h4 {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 0px;
            }
        }
        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 50px;
            li {
                display: block;
                padding-bottom: 20px;
                color: rgba(255, 255, 255, .5);
                cursor: pointer;
                &:hover {
                    color: #070200 ;
                }
            }
        }
    }
}

.single-footer-widget {
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, .1);
    .copy_right_text {
        p {
            margin: 0;
            color: #fff;
            margin-left: -15px;
            a {
                color: #891A01; /*lee raysheng*/
            }
        }
    }
    .social_widget {
        text-align: right;
        position: relative;
        margin-right: -15px;
        a {
            color: #fff;
            height: 30px;
            width: 30px;
            line-height: 30px;
            background: #852103; /* social media icons */
            margin-left: 6px;
            display: inline-block;
            text-align: center;
            &:hover {
                background: $primary-color;
            }
        }
    }
}

/* End Footer Area css
============================================================================================ */